.filter-container {
    display: flex;
    align-items: center;
  }
  
  .filter-button {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background:transparent;
    cursor: pointer;
    margin-right: 10px;
    color: #DFF3EE;
    text-align: center;
    font-family: "Hind Madurai";
  }
  
  .filter-button:hover {
    background-color: #182E91;
  }
  
  .apply-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #2C2C2C;
    color: #DFF3EE;
    cursor: pointer;
  }
  
  .apply-button:hover {
    background-color:#182E91;
  }