.filter-container {
    display: flex;
    align-items: center;
  }
  
  .filter-button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .filter-button:hover {
    background-color: #f0f0f0;
  }
  
  .apply-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: ;
      cursor: pointer;
  }
  
  .apply-button:hover {
    background-color: #555;
  }