body {
  background: linear-gradient(#2C2C2C, #081645);
  color: #DFF3EE;
  font-family: "Hind Madurai";
}
.search{
  position: absolute;
  top: 88%;
  left: 30%;
}
.search input{
  width: 500px;
  height: 50px;
  border-radius: 40px;
  filter: drop-shadow(10px 10px 10px rgb(237, 121, 121));
}
